.HomePageWrapper {

  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

}
.FormWrapper
{
  background: #282a35;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  margin: 8px;
  max-width: 90%;

}
.inputGroup
{
  display: flex;
  flex-direction: column;
}
.Mainlabel
{
  margin-bottom: 20px;
  margin-top: 0px;
}
.homePageLogo
{
  height: 80px;
  margin-bottom: 30px;

}
.inputBox
{
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 15px;
  font-weight: bold;
}
.btn
{
  border:none;
  padding: 10px;
  border-radius: 5px;
  font-size:15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.joinBtn
{
  background:#4aed88;
  width: 100px;
  margin-left: auto ;

}
.joinBtn:hover{
  background: #2b824c;
}
.createInfo
{
  margin: 0 auto;
  margin-top: 20px;
}
.createNewBtn
{
  color: #4aed88;
  text-decoration: none;
  border-bottom: 1px solid #4aed88;
  transition: all 0.3s ease-in-out;

} 
.createNewBtn:hover{
  color: #368650;
  border-color: #368650;
}